.forma {
	margin: 0 auto;
	width: 40%;
	font-size: 16px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main-title {
	text-align: center;
	font-weight: normal;
	margin-bottom: 40px;
}
.list-title {
	font-size: 18px;
	margin: 17px 0;
}
label {
	margin: 5px;
	margin-left: 15px;
	cursor: pointer;
}
.btnInput {
	width: 300px;
	margin: 40px auto;
	display: block;
	padding: 15px;
	background-color: #cfe2f3;
	border: 3px solid #000;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease;
}
.btnInput:hover {
	background-color: #ebf3fa;
}
/*checkbox styly*/
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 10px 0;
}
input[type="checkbox"] {
    display:none;            
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 19px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: 0 0;    
}
input[type="checkbox"]:checked + label::before {
    background-position: -21px 0; 
}
/*media queries*/
@media only screen and (max-width: 450px) {
	.forma {
		width: 250px;
	}
}